body{
  background-image: url("../../layout/image/festou2.jpg");
  background-size: 100%;
}
.card-fornecedor{
  color: black;
  background: lightsteelblue;
  margin: 10px;
  width: fit-content;
}