.card-cadastro-fornecedor{
  color: black;
  background: lightsteelblue;
  margin: 10px;
  width: fit-content;
}
body{
  background-image: url("../../layout/image/festou.jpg");
  background-size: 100%;
}
